      <% if @tasks == [] %>
      <h1>履歴はありません。</h1>
      <h2><%= link_to '今すぐ❤を消す', new_task_path %><h2>
      <% else %>
      <h1>💔履歴💔</h1>
      <div class='log'>
        <table class='table table-striped table-bordered table-condensed'>
          <thead>
            <tr>
              <th>処理No.</th>
              <th>要求数</th>
              <th>成功数</th>
              <th>開始日時</th>
              <th>終了日時</th>
              <th>処理結果</th>
            </tr>
          </thead>
          <tbody>
          <% @tasks.each_with_index do |task, i| %>
            <div class='log' id='<%= i + 1 %>' >
              <tr>
                <td><%= i + 1 %></td>
                <td><%= task.implement %></td>
                <td><%= task.progress %></td>
                <% c_date = task.created_at.to_s.split(' ')[0].split('-') %>
                <% c_time = task.created_at.to_s.split(' ')[1].split(':') %>
                <td><%= "#{c_date[0]}年#{c_date[1]}月#{c_date[2]}日 #{c_time[0]}時#{c_time[1]}分#{c_time[2]}秒" %></td>
                <% u_date = task.updated_at.to_s.split(' ')[0].split('-') %>
                <% u_time = task.updated_at.to_s.split(' ')[1].split(':') %>
                <td><%= "#{u_date[0]}年#{u_date[1]}月#{u_date[2]}日 #{u_time[0]}時#{u_time[1]}分#{u_time[2]}秒" %></td>
                <td>
                <% if task.implement == task.progress %>
                  <%= '処理は正常に終了しました。' %>
                <% elsif task.cancelled %>
                  <%= '処理は中断されました。' %>
                <% elsif task.favorite_empty %>
                  <%= 'いいねは空になりました。' %>
                <% elsif task.request_many %>
                  <%= 'APIが制限されました。' %>
                <% else %>
                  <%= '不明なエラーが発生しました・・・'%>
                <% end %>
                </td>
              </tr>
            </div>
          <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
